rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    function isAdmin() { return request.auth.token.admin == true; }
    match /users/{uid} {
      allow read: if request.auth != null;
      allow update: if request.auth.uid == uid &&
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['favorites','fcmToken','name','verifyRequest']);
      allow write: if isAdmin();
    }
    match /config/{d} { allow read: if request.auth != null; allow write: if isAdmin(); }
    match /transfers/{id} {
      allow read: if request.auth != null &&
        (resource.data.from == request.auth.uid || resource.data.to == request.auth.uid || isAdmin());
      allow write: if isAdmin();
    }
    match /support/{uid}/messages/{m} {
      allow read, create: if request.auth.uid == uid || isAdmin();
    }
  }
}
